body{
    margin-bottom: 50px;
}


.title{
    text-align: center;
    padding-top: 15px;
}

.main{
    width: 50%;
    margin: auto;
    margin-top: 50px;
}


.redtext{
    color: orange;	
}

.indent{
    margin-left: 15%;
    padding-top: 10px;
}

.posrel{
    position: relative;
}

.posabsright{
    font-size: 24px;
    position: absolute;
    left: 90px;
    top: 258px;
    width: 750px;
}